
<div class="row">
  <div class="col-md-6">
    <h2>Authenticate</h2>
    <div class="list-group">
      <a class="list-group-item" href="/salesforce/auth">Auth</a>
    </div>

    <h2>IP Address</h2>
    <div class="list-group">
      <a class="list-group-item" href="/ipify">ipify</a>
    </div>
  </div>

  <div class="col-md-6">
    <h2>Contact</h2>
    <div class="list-group">
      <a class="list-group-item" href="/salesforce/contact/query">Query</a>
      <a class="list-group-item" href="/salesforce/contact/create">Create</a>
    </div>
  </div>

  <div class="col-md-6">
    <h2>Account</h2>
    <div class="list-group">
      <a class="list-group-item" href="/salesforce/account/query">Query</a>
      <a class="list-group-item" href="/salesforce/account/create">Create</a>
    </div>
  </div>
</div>

