
<h4>Query Accounts</h4>

<div class="row">
  <div class="col-sm-12">
    <form action="/salesforce/account/query" method="POST">
      <button type="submit" class="btn btn-success">Query</button>
    </form>
  </div>
</div>

<div class="row m-t-md">
  <div class="col-sm-12">
    <% if (data.error) { %>
      <label>API call Failed</label>
      <pre class="bg-danger"><code><%= data.error %></code></pre>
    <% } %>

    <% if (data.result) { %>
      <label>API call succeeded</label>
      <pre class="bg-success"><code><%= data.result %></code></pre>
    <% } %>
  </div>
</div>

